# Ignora i file di sistema Mac
.DS_store

# Ingora la cartella build
build

#Ignora la cartella dist
dist

#Ignora il seguente file
*.spec

report/main.aux
report/main.log
report/main.out
report/main.fls
report/main.fdb_latexmk
report/main.synctex.gz
